<tr ng-repeat="player in players" data-drag="!player.invited" data-jqyoui-options="{revert: 'invalid', appendTo: 'body', helper: 'clone'}"
    ng-model="droppedPlayer" jqyoui-draggable="{animate:true, onStart: 'dragPlayerHandler({{player}})' }">
  <td> {{player.name}} </td>
  <td ng-hide='player.invited'> {{player.country}} </td>
  <td ng-show='player.invited'> invited </td>
</tr>