<div class="players">
  <div class="search-players">
    <p>Search players</p>
    <div class="brd">
      <%= render 'coaches/teams/players_block/search_form' %>
    </div>
  </div>
  <div class="players-list">
    <p>Players</p>
    <div class="brd">
      Click here to invite player <%= link_to "Add player", nil, :class => 'btn btn-success' %>
      <div class='brd players-table' ng-init="players = <%= json_for(players) %>">
        <table class="table">
          <%= render 'coaches/teams/players_block/player_row' %>
        </table>
      </div>
    </div>
  </div>
</div>