<tr ng-repeat="player in players" data-drag="true" data-jqyoui-options="{revert: 'invalid', appendTo: 'body', helper: 'clone'}" ng-model="droppedPlayer" jqyoui-draggable="{animate:true, onDrag: 'dragHandler' }">
  <td> {{player.name}} </td>
  <td> {{player.country}} </td>
</tr>