<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Send message to {{player.name}}</h4>
    </div>
    <form ng-submit="sendMessage()">
      <div class="modal-body">
        <textarea class="form-control" id="message" name="message" ng-model="message"></textarea>
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" name="commit" type="submit" value="Send message">
      </div>
    </form>
  </div>
</div>