<div class="modal fade" id="motivation-modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Motivate {{player.name}}</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <%= link_to 'Send motivation', nil, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>