<div class="player-profile" ng-show='player'>
  <p>Player Profile</p>
  <div class="brd">
    <p> {{player.name}} </p>
    <p ng-show='player.last_sign_in_at'>
      Last login: {{player.last_sign_in_at}}
      Days inactive: player.days_inactive
    </p>
    <!--TODO: insert data when functionality will be implemented-->
    <p>
      Last activity: player.last_activity
    </p>
    <p>
      Position: player.position
      Player points: player.points
    </p>
    <%= link_to 'Motivate', '', :class => 'btn btn-success', 'ng-click' => "showModal('motivation_modal')" %>
    <%= link_to 'Send message', '', :class => 'btn btn-info', 'ng-click' => "showModal('send_message_modal')" %>

    <%= render 'motivation_modal' %>
    <%= render 'send_message_modal' %>
  </div>
</div>

