<p>Player Profile</p>

<p><%= player.name %></p>
<p>
  Last login: player.last_login
  Days inactive: player.days_inactive
</p>
<p>
  Last activity: player.last_activity
</p>
<p>
  Position: player.position
  Player points: player.points
</p>

<%= link_to 'Motivate', nil, :class => 'btn btn-success' %>
<%= link_to 'Send message', nil, :class => 'btn btn-info' %>

