<div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Send message to {{player.name}}</h4>
      </div>
      <form accept-charset="UTF-8" action="/coaches/players/{{player.id}}/send_message" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="modal-body">
          <%= text_area_tag :message, nil, :class => 'form-control' %>
        </div>
        <div class="modal-footer">
          <%= submit_tag 'Send message', :class => 'btn btn-primary' %>
        </div>
      </form>
    </div>
  </div>
</div>