<p>Team activity - today</p>
<div class="team-activity-today brd">
  <p>Players Logged In: @team.players_logged_in</p>
  <p>Activities Completed: @team.activities_completed</p>
  <p>Assessments taken: @team.assessments_taken</p>
</div>