<tr ng-click='playerSelection(<%= player.id %>)' ng-class="{highlight:player.id == <%= player.id %>}">
  <td><%= player.name %></td>
  <td><%= player.last_sign_in_at %></td>
  <!--<td></td>-->
  <!--<td></td>-->
</tr>