<%= render 'coaches/navigation' %>
<div class="dashboard" ng-controller='DashboardController'>
  <div class='row'>
    <div class='col-md-6'>
      <%= render 'team_activity_detailed', :team => @team, :players => @players %>
    </div>
    <div class='col-md-6'>
      <%= render 'team_activity_today', :team => @team %>
      <%= render 'player_profile', :player => @team.players.last %>
    </div>
  </div>
</div>