<div class="brd drill-desc">
  <div id='default drill text' ng-hide='selectedDrill'>
    <h3>Add some drills</h3>
    <p>Drag & drop some drills to new development plan</p>
  </div>
  <div id='default drill text' ng-show='selectedDrill'>
    <h3>{{selectedDrill.name}}</h3>
    <p>{{selectedDrill.description}}</p>
  </div>
</div>

<h5>Drills:</h5>
<div class='brd drills-table' ng-init="drills = <%= json_for(@drills) %>">
  <table class="table">
    <tr ng-click='drillSelection(drill)' ng-repeat="drill in drills" ng-class="{highlight:selectedDrill.id == drill.id }"
        data-drag="true" data-jqyoui-options="{revert: 'invalid', appendTo: 'body', helper: 'clone'}"
        ng-model="droppedDrill" jqyoui-draggable="{animate:true, onStart: 'dragDrillHandler({{drill}})' }">
      <td>{{drill.name}}</td>
    </tr>
  </table>
</div>