<div class="team-management">
  <p> Team Management </p>
  <div class="brd">
    <div class="selected-team">
      <%= render "selected_team" %>
    </div>
    <div class="teams-table">
      <table>
        <%= render :partial => "team_row", :collection => @teams, :as => :team %>
        <tr class="brd add-new-team">
          <td>Add Team</td>
        </tr>
      </table>
    </div>
  </div>
</div>