<table class="players-for-team">
  <tr ng-repeat="player in team_players" class='brd'>
    <td>
      {{player.name}}
      <span class='glyphicon plus-minus glyphicon-minus' ng-click="teamPlayerRemoveClick(player)"></span>
    </td>
  </tr>
  <tr class='brd-white'>
    <td> Drag'n'drop player to add new </td>
  </tr>
</table>