<h5>Players</h5>
<div class='players-list' ng-init='players = <%= json_for(@players) %>'>
  <div class="assignees-with-plans" ng-repeat='player in players'>
    <div class="brd assignee">
      <h5> {{player.name}} </h5>
      <div class="row dropzone" data-drop="true" data-jqyoui-options ng-model="droppedPlan"
           jqyoui-droppable="{onDrop: 'dropPlanHandler({{player}})'}">
        <div class="col-md-2">
          Active Plan:
        </div>
        <div class='col-md-10' ng-show='player.plans'>
          <div class='plans'>
            <div class='plan' ng-repeat='plan in player.plans'>
              {{plan.name}}
            </div>
          </div>
        </div>
        <div class="col-md-10" ng-hide='player.plans'>
          Drop plan here
        </div>
      </div>
    </div>
  </div>
</div>