<div class="row">
  <div class="col-md-6">
    <h3>
      New Users Sign up
    </h3>
    <p>
      <a href="#" class="btn btn-default">Players &gt;</a>
    </p>
    <p>
      <a href="#" class="btn btn-default">Coaches &gt;</a>
    </p>
    <p>
      <a href="#" class="btn btn-default">Parents &gt;</a>
    </p>
  </div>
  <div class="col-md-6">
    <h3>
      iLax Login
    </h3>
    <form class="form-horizontal">
      <div class="form-group">
        <label>
          Username
        </label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>
          Password
        </label>
        <input type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-default">
        Log in &gt;
      </button>
    </form>
    <p>
      <a href="#" class="btn btn-default">Connect with Facebook</a>
    </p>
  </div>
</div>