<div class="row">
  <div class="col-md-3">
    <img src="{{selectedDefaultReward.image_url}}" alt="{{selectedDefaultReward.name}}"/>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3">
        <p><b>Name:</b></p>
        <p><b>Description:</b></p>
      </div>
      <div class="col-md-9">
        <p> {{selectedDefaultReward.name}} </p>
        <p> {{selectedDefaultReward.description}} </p>
      </div>
    </div>
  </div>
</div>