<div class="brd">
  <div class="reward-dummy" ng-hide='selectedReward || selectedDefaultReward' >
    <%= render 'reward_dummy' %>
  </div>

  <div class="default-reward" ng-show='selectedDefaultReward'>
    <%= render 'default_reward' %>
  </div>

  <div class="custom-reward" ng-show='selectedReward'>
    CUSTOM
  </div>

  <div class="new-reward">

  </div>
</div>