<div id="plan-description">
  <div ng-hide='selectedPlan'>
    <h5>Select a plan</h5>
    <div class='description'>
      Select a plan from left panel
    </div>
  </div>
  <div ng-show='selectedPlan'>
    <div class="row">
      <div class="col-md-9">
        <h5>Plan Description:</h5>
        <div class='description'>
          {{selectedPlan.description || 'No description'}}
        </div>
      </div>
      <div class="col-md-3" ng-hide='defaultPlanSelected'>
        <%= link_to "Remove plan", '', :remote => true, :class => "btn btn-danger", 'ng-click' => 'removePlan()' %>
      </div>
    </div>
  </div>
</div>
<div id="plan-structure">
  <div id="#plan-item-{{$index}}" class="panel-group" ng-repeat='plan_item in selectedPlan.plan_items'>
    <div class="panel panel-default plan-item">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#plan-item-{{$index}}" href="#collapse-{{$index}}" class="collapsed">
            {{plan_item.item.name}}
          </a>
        </h4>
      </div>
      <div id="collapse-{{$index}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div ng-show="plan_item.item_type == 'PlanSession'">
            <%= render 'coaches/plans/index/plan_item/plan_session' %>
          </div>
          <div ng-show="plan_item.item_type == 'Assessment'">
            <%= render 'coaches/plans/index/plan_item/assessment' %>
          </div>
          <div ng-show="plan_item.item_type == 'Reward'">
            <%= render 'coaches/plans/index/plan_item/reward' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>