<%= render 'coaches/dev_plan_navigation' %>

<div class="row" ng-controller='CreatePlanController'>
  <div class="col-md-4 drills-block">
    <%= render 'coaches/plans/new/drills_block' %>
  </div>
  <div class="col-md-8">
    <h5>Development Plan:</h5>
    <div class="brd assessment-block">
      <%= render 'coaches/plans/new/plan_block' %>
    </div>
  </div>
</div>
