<input type="file" ng-file-select="onFileSelect($files)">

<div class="reward-images-list">
  <div class="scrolls">
    <span class='reward-image' ng-repeat='rewardImage in rewardImages' ng-click='rewardImageSelection($index)'
        ng-class="{'highlight-border':rewardImage.id == selectedRewardImage.id}">
      <img ng-src="{{rewardImage.image_url}}" alt="{{rewardImage.image}}"/>
    </span>
  </div>
</div>