.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}

checkbox.ng-invalid,
radio.ng-invalid,
input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}

#header-image {
  margin: 0 auto;
  text-align: center;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.subnav {
  margin-top: -20px;
}

.brd {
  border: 2px solid black;
  padding: 0px 10px 10px 10px;
}

.brd-white {
  border: 2px solid lightgrey;
  padding: 0px 10px 10px 10px;
  color: lightgrey;
}

.highlight {
  background-color: darkgrey;
}

.modal {
  top: 20%;
}

.players-table {
  height: 250px;
  overflow-y: auto;
}
.selected-team {
  height: 150px
}
.teams-table {
  height: 265px;
  overflow-y: auto;
}

.teams-table > table:first-child {
  width: 100%;
}

.teams-table table .add-new-team {
  background-color: darkgrey;
}
span.plus-minus {
  float:right
}

.players-for-team {
  margin-left: 5%;
  width: 95%
}

.players-for-team-table {
  max-height: 150px;
  overflow-y: auto;
}

.add-new-team input[type='text'] {
  width: 250px;
}
.add-new-team textarea {
  width: 250px;
}

.footer {
  background-image: none !important;
  background-color: white !important;
  border-bottom: none !important;
  margin-bottom: 0px !important;
}

.team-management .brd {
  max-height: 430px;
}

.add-new-team {
  margin-top: 10px;
}

form.search-player {
  margin-top: 10px
}

.invite-player-block {
  margin: 10px 0 10px 10px
}

.container .row:first-child {
  margin-bottom: 20px;
}

.team-activity-detailed .manage-team .btn {
  margin-top: 20px;
}

.modal-dialog {
  margin-top: 200px;
}

.brd.drills-table {
  max-height: 260px;
  overflow-y: auto;
}

.exercises-table table {
  width: 700px;
}

.exercises-table span.repetitions {
  padding-right: 300px;
  float: right;
}

.exercises-table span input {
  width: 50px;
}

.add-assessment {
  margin-top: 10px;
}

.exercises-table {
  max-height: 200px;
  overflow-y: auto;
}

.create-assessment-btn .btn {
  margin: 10px 15px 0px 0px;
}

.assessments-table {
  max-height: 300px;
  overflow-y: auto;
}
.edit-assessment-block .brd .row{
  margin-top: 10px;
}
.edit-assessment-block .buttons .btn{
  margin-top: 10px;
}

.default-rewards {
  margin-bottom: 20px;
}
.default-rewards-table {
  max-height: 150px;
  overflow-y: auto;
}
.custom-rewards-table {
  max-height: 150px;
  overflow-y: auto;
}

.reward-block .brd {
  height: 480px;
}

.reward-block .reward {
  margin: 20px 0px 0px 20px;
  height: 150px;
}

.custom-rewards-table {
  margin-top: 60px;
}

.create-table-button {
  margin-right: 10px;
}

.reward-images-list {
  box-shadow: 1px 1px 10px #999;
  text-align: center;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0px 20px 0px !important;
  width: 720px;
  padding-top: 5px;
}
.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 130px;
  white-space:nowrap
}

.scrolls span {
  margin: 2px;
  max-height: 130px;
  cursor: pointer;
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:top;
}

.highlight-border {
  border: 2px solid #006dcc;
}