<div class="brd drill-desc">
  <div id='default drill text' ng-hide='selected_drill'>
    <h3>Add some drills</h3>
    <p>Drag & drop some drills to new assessment</p>
  </div>
  <div id='default drill text' ng-show='selected_drill'>
    <h3>{{selected_drill.name}}</h3>
    <p>{{selected_drill.description}}</p>
  </div>
</div>

<h5>Drills:</h5>
<div class='brd drills-table' ng-init="drills = <%= json_for(@drills) %>">
  <table class="table">
    <tr ng-click='drillSelection(drill.id)' ng-repeat="drill in drills" ng-class="{highlight:selected_drill.id == drill.id }">
      <td>{{drill.name}}</td>
    </tr>
  </table>
</div>