<div class="brd">
  <div class='edit-assessment-dummy' ng-hide='selectedAssessment || selectedDefaultAssessment'>
    <h3>Select Assessment</h3>
    <p>Select assessment to view.</p>
  </div>

  <div class='edit-assessment-dummy' ng-show='selectedDefaultAssessment'>
    <%= render 'coaches/assessments/index/assessment/default' %>
  </div>

  <div class="edit-assessment-form" ng-show='selectedAssessment'>
    <%= render 'coaches/assessments/index/assessment/custom' %>
  </div>
</div>